@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #130b0f;
    --primary-color: #add8e6;
    --secondary-color: #ffffff;
    --font-family: 'fraunces', serif;
    --font-family-alt: 'libre baskerville', serif;
    --text-color: white;
    --text-hover-color: #add8e6;
}

/* Global Styles */
body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
    color: var(--text-color);
}

p {
    font-family: var(--font-family);
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 15px;
}


/* Navigation Styles */
nav {
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: fit-content;
    border-radius: 3rem;
    margin-top: 1.20rem;
    position: fixed;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    transition:  0.3s, color 0.3s;
    font-size: 1.3rem;
    font-family: var(--font-family-alt);
}

nav a.active {
    color: var(--text-hover-color);
    text-decoration: underline;
    text-underline-offset: 4px;
}

nav a:hover {
    color: var(--text-hover-color);
}

/* Header Styles */
.hero {
    text-align: center;
    margin: 0 50px;
    background: url(../images/background.webp);
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow:
        0 8px 20px #130b0f,
        0 24px 60px rgba(173, 216, 230, 0.12),
        0 48px 100px rgba(173, 216, 230, 0.08),
        0 0 120px rgba(173, 216, 230, 0.04);
    z-index: 1;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.hero div a {
    background-color: var(--primary-color);
    color: black;
    padding: 10px 30px;
    margin: 10px;
    display: inline-block;
    width: 150px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-family-alt);
    transition: background-color 0.3s;
}
.hero .sub-btn {
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    color: white;
}
.hero div a:hover {
    background-color: whitesmoke;
    color: black;
}


/* Main Content Styles */
main.portfolio {
    background-color: var(--background-color);
    flex-grow: 1;
    padding: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.portfolio-item {
    background-color: coral;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 350px;
    height: 300px;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

/* Sneaky Styles */
.sneaky {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: bold;
    max-width: 350px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s ease-in;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
}

.portfolio-item:hover .sneaky {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.sneaky a div {
    color: white;
    text-align: left;
    padding: 10px;
    width: 100%;
}

.sneaky p {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    text-decoration: none;
}
.sneaky h3 {
    font-weight: bold;
    margin: 5px;
    text-align: left;
}
.sneaky h4 {
    font-weight: normal;
    margin-top: 5px;
    color: #d3d3d3;
    margin: 5px;
    padding: 0 0 10px 0;
}

/* Footer Styles */
footer {
    background: url(../images/background.webp);
    background-size: cover;
    background-position: top center;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    z-index: 1;
    box-shadow:
        10px -8px 20px rgba(173, 216, 230, 0.12),
        10px -24px 60px rgba(173, 216, 230, 0.12),
        10px -48px 100px rgba(173, 216, 230, 0.08),
        10px -0 120px rgba(173, 216, 230, 0.04);
}

.cta-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 90vw;
    max-width: 900px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.cta-contact div h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.cta-contact div p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.cta-contact a {
    background-color: var(--primary-color);
    color: black;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-family-alt);
    transition: background-color 0.3s;
}
.cta-contact i {
    margin-left: 10px;
    font-size: .8rem;
}

.cta-contact a:hover {
    background-color: whitesmoke;
    color: black;
}